/* Styles for the personal website */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Racing+Sans+One&display=swap');


body {
    background-color: #7A9871;
    color: #292821;
    font-family: "Racing sans one", Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    height: 400px;
}

#head-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px, 200px;
    background-color: #88a8a1;
    height: 0em;
    margin-bottom: 40%;
}

#co-banner {
    z-index: -1;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/4;
}

#head-banner nav  {
    opacity: .8;
    grid-row: 2/3;
    grid-column: 1/4;
}

.logo {
    display: block;
    height: 150px;
}

#logo-link {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo-container {
    position: relative;
    width: 100%;
    text-align: center;
    top: -400px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    justify-self: center;
    background-color: black;
    color: #B194B8;
    text-decoration: none;
    padding: 25px;
    width: 100%;
    height: 15px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

nav a:hover {
    background-color: #396E94;
    color: white;
}

h1, h2 {
    font-family: "Cinzel", 'Times New Roman', Times, serif;
}

h1 {
    text-decoration: underline;
} 

p {
    font-size: .8em;
}

.home-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 10%, repeat(3, 1fr);
}

.garden, .mesa, .rocky {
    max-width: 90%;
}

.home-title{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.garden {
    grid-column: 3/4;
    grid-row: 2/3
}

.gardenh {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: start;
}

.gardenp {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: end;
}

.rocky{
    grid-row: 3/4;
    grid-column: 1/2;
}

.rockyh {
    grid-column: 2/4;
    grid-row: 3/4;
    align-self: start;
}

.rockyp {
    grid-column: 2/4;
    grid-row: 3/4;
    align-self: end;
}

.mesa {
    grid-column: 3/4;
    grid-row: 4/5;
}

.mesah {
    grid-column: 1/3;
    grid-row: 4/5;
    align-self: start;
}

.mesap {
    grid-column: 1/3;
    grid-row: 4/5;
    align-self: end;
}

.ski-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 80px, 1fr, 1fr;
}

.ski-title{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.breckenridge, .steamboat {
    max-width: 90%;
    grid-column: 3/4;
    margin: 5%;
}

.breckenridge {
    grid-row: 2/3;
}

.steamboat {
    grid-row: 3/4;
}

.breckh {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: start;
}

.breckp {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: end;
}

.steamh {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: start;
}

.steamp {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: end;
}

.indoor-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 10%, repeat(3, 1fr);
}

.indoor-title {
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

.museum, .stanley, .cave {
    max-width: 90%;
    grid-column: 1/2;
    margin: 5%;
}

.museum {
    grid-row: 2/3;
}

.stanley {
    grid-row:
    3/4;
}

.cave {
    grid-row:
    4/5
}

.museumh {
    grid-row: 2/3;
    grid-column: 2/4;
    align-self: start;
}

.museump {
    grid-row: 2/3;
    grid-column: 2/4;
    align-self: end;
}

.stanleyh {
    grid-row: 3/4;
    grid-column: 2/4;
    align-self: start;
}

.stanleyp {
    grid-row: 3/4;
    grid-column: 2/4;
    align-self: end;
}

.caveh {
    grid-row: 4/5;
    grid-column: 2/4;
    align-self: start;
}

.cavep {
    grid-row: 4/5;
    grid-column: 2/4;
    align-self: end;
}

footer{
    background-color: #52667f;
    color: #000E29;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #cda64c;
    background-color: #000E29;
    text-decoration: none;
}

footer a:hover {
    color: white;
    background-color: #396E94;
}

footer p {
    font-size: 0.6em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {

    #logo-container {
        top: -220px;
    }

    .logo {
        height: 75px;
    }

    header {
        height: 200px;
    }

    h2 {
        margin-top: -40px;
    }

    p {
        margin-bottom: 40px;
        padding-top: 15px;
    }

    h1 {
        margin-top: -10px;
        grid-column: 1/4;
    }

    .museumh {
        margin-top: -15px;
        font-size: 30px;
    }

    .museump {
        padding-top: 40px;
    }

    nav {
        font-size: 16px;
    }

}